html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* CSS Variables */

:root {
  --primary-color: #40d2b0;
  --primary-color2: #22d1ae;
  --title-color: #4bc0a3;
  --text-color: #2ca1ae;
  --border-color: #25b3a517;
  --gradient-color: linear-gradient(90deg, #44dcac 0%, #3ed09f 100%);
  --shadow-color: 0px 10px 30px rgba(25, 137, 96, 0.3);
  --box-shadow: 0px 10px 30px rgba(19, 108, 103, 0.205);

  /* font family variables. */
  --roboto: 'Roboto', cursive;
}
